@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;

700&family=Inter:wght@300;400;700&family=Roboto&display=swap");
* {
  scrollbar-width: 8px;
  scrollbar-color: #010201 #d6d6d6;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 0px none #fff;
  background-color: #122412;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #010201;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__start {
  padding-top: 150px;
}

[class*=__container] {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
}

body.lock {
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  block-size: auto;
  max-inline-size: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.select {
  max-width: 450px;
  height: 50px;
  background: #d6e7d2;
  margin-left: auto;
  -moz-text-align-last: left;
       text-align-last: left;
}

.select__current {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  color: #b1aead;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  height: 50px;
  background-color: #d6e7d2;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.select__current::after {
  position: absolute;
  top: 45%;
  right: 20px;
  content: "";
  width: 10px;
  height: 10px;
  border-right: 2px solid #595959;
  border-bottom: 2px solid #595959;
  -webkit-transform: rotate(45deg) translateX(-45%);
      -ms-transform: rotate(45deg) translateX(-45%);
          transform: rotate(45deg) translateX(-45%);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.select__current_show {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  background: #c1e698;
  border: 1px solid #d6e7d2;
}

.select__current_show:after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.select__current_selected {
  background: #c1e698;
}

.select__list {
  padding: 27px 35px;
  background-color: #dce9d9;
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.select__list_show {
  pointer-events: all;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.select__item {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: #dce9d9;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #499a18;
  border-bottom: 1px solid #d9d9d9;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.select__item:hover,
.select__item:focus {
  color: #717171;
  border-bottom: 1px solid #717171;
}

body {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  min-width: 380;
  font-family: "Inter", sans-serif;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

.header {
  background-color: #edf2ec;
}

.header__container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  font-family: "Inika", serif;
}

.header__logo {
  margin: 5px 0 0 21px;
}

.header__menu {
  margin: 0 8px 0 auto;
}

.logo {
  position: relative;
  color: #010201;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  color: #499a18;
}

.logo::before {
  content: "";
  position: absolute;
  background: no-repeat url(../images/icons/logo.svg);
  left: -23px;
  top: -3px;
  width: 100%;
  height: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

.menu__item {
  line-height: 50px;
}

.menu__link {
  color: #010201;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu__link:hover {
  color: #e06733;
}

.menu__link:active {
  color: #499a18;
}

.menu__link_active {
  color: #e06733;
  font-weight: 700;
  pointer-events: none;
}

.burger {
  display: none;
}

.btn {
  padding: 11px 24px;
  border: 2px solid #e06733;
  border-radius: 10px;
  line-height: 20px;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: none;
}

.btn:hover {
  color: #ffffff;
  background: #e06733;
}

.btn:active {
  color: #ffffff;
  background: #499a18;
}

.welcome {
  background-color: #edf2ec;
  padding-bottom: 100px;
}

.welcome__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcome__img {
  margin-top: -10px;
  margin-left: -10px;
}

.welcome__description {
  margin: 50px 0 0 auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 clamp(358px, 38.889vw, 560px);
          flex: 0 0 clamp(358px, 38.889vw, 560px);
}

.welcome__title {
  font-weight: 700;
  font-size: clamp(35px, 3.125vw, 45px);
  line-height: 50px;
  color: #717171;
  margin-bottom: 42px;
}

.welcome__title span {
  color: #499a18;
}

.welcome__text {
  font-size: clamp(16px, 1.389vw, 20px);
  line-height: clamp(25px, 2.431vw, 35px);
  color: #b1aead;
  padding-right: 15px;
  margin-bottom: 48px;
}

.welcome__btn {
  text-transform: uppercase;
}

.about {
  background-color: #ffffff;
  padding-bottom: 105px;
}

.about__container {
  padding-top: 84px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 605px;
          flex: 0 0 605px;
  margin-top: clamp(10px, 4.722vw, 68px);
  margin-right: auto;
}

.about__title {
  font-family: "Inika", serif;
  font-size: clamp(35px, 2.778vw, 40px);
  line-height: clamp(46px, 3.611vw, 52px);
  max-width: 500px;
  color: #499a18;
  margin-bottom: 40px;
}

.about__title span {
  color: #e06733;
}

.about__text {
  font-size: 20px;
  line-height: 30px;
  color: #b1aead;
}

.service {
  background-color: #edf2ec;
  padding-bottom: 120px;
}

.service__head {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 87px;
}

.service__title {
  font-family: "Inika", serif;
  font-size: clamp(35px, 2.778vw, 40px);
  line-height: clamp(46px, 3.611vw, 52px);
  max-width: 300px;
  color: #499a18;
}

.service__btn {
  font-family: "Inika", serif;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 5px;
  width: 161px;
  height: 50px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__btn-wrapper {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 218px;
  margin-bottom: -5px;
  gap: 38px;
}

.service__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 330px 330px 330px;
  grid-template-columns: 330px 330px 330px;
  -webkit-column-gap: 116px;
     -moz-column-gap: 116px;
          column-gap: 116px;
  row-gap: 55px;
}

.service .card {
  border-radius: 20px;
  border: 1px solid #e3e1d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  height: 450px;
  overflow: hidden;
}

.service .card__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 329px;
  height: 350px;
}

.service .card__img img {
  width: 100%;
}

.service .card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  margin-bottom: 15px;
}

.service .card__description {
  font-size: 16px;
  line-height: 20px;
  color: #b1aead;
}

.prices {
  background-color: #ffffff;
  padding-bottom: 5px;
}

.prices__content {
  padding-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.prices__title {
  margin-top: 5px;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: clamp(35px, 2.778vw, 40px);
  line-height: clamp(42px, 3.333vw, 48px);
}

.prices__description {
  margin-left: auto;
  max-width: 452px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.prices__text {
  font-weight: 700;
  font-size: clamp(25px, 2.778vw, 40px);
  line-height: clamp(35px, 3.472vw, 50px);
  text-align: right;
  margin-bottom: 39px;
}

.prices__text span {
  color: #499a18;
}

.prices__btn {
  background-color: transparent;
  border: 1px solid #e06733;
  color: #e06733;
  border-radius: 5px;
  padding: 12px 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.prices__img {
  margin-top: 2px;
  margin-right: -9px;
}

.tariffs {
  max-width: 332px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 34px 41px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
  text-align: start;
}

.tariffs__price {
  padding: 16px 40px;
  background: #edf2ec;
  border-radius: 20px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.tariffs__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tariffs__head::after {
  position: absolute;
  top: 45%;
  right: 0;
  content: "";
  width: 6px;
  height: 6px;
  border-right: 1px solid #717171;
  border-bottom: 1px solid #717171;
  -webkit-transform: rotate(45deg) translateX(-45%);
      -ms-transform: rotate(45deg) translateX(-45%);
          transform: rotate(45deg) translateX(-45%);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tariffs__head::before {
  position: absolute;
  top: -9px;
  right: -15px;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
  background: #d9d9d9;
}

.tariffs__body {
  height: 0px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  position: relative;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

.tariffs__body p {
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
  margin-bottom: 6px;
}

.tariffs__body span {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #e06733;
}

.tariffs__body div {
  margin-bottom: 12px;
}

.tariffs__btn {
  background: #ffffff;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
  padding: 3px 20px;
  border: none;
}

.tariffs__img {
  padding: 10px;
  margin: -10px;
}

.tariffs__price.open {
  background: #d6e7d2;
}

.tariffs__price.open .tariffs__body {
  height: auto;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-top: 6px;
  margin-top: 12px;
  border-top: 1px solid #717171;
}

.tariffs__price.open .tariffs__head:after {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  right: 1.5px;
  top: 45%;
}

.tariffs__price.open .tariffs__head::before {
  background: #aea1a1;
}

.contacts {
  background-color: #edf2ec;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-top: 44px;
}

.contacts__select-wrapper {
  width: 710px;
  margin-left: auto;
}

.contacts__title {
  font-family: "Inika", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin: 15px 0 35px 0px;
}

.contacts__img {
  width: 400px;
  height: 497px;
}

.card-select {
  width: 448px;
  margin-top: 47px;
  margin-left: auto;
  background: #edf2ec;
  border: 1px solid #000000;
  border-radius: 20px;
  text-align: center;
  padding: 17px 35px;
  display: none;
}

.card-select__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  text-align: start;
  margin-bottom: 24px;
}

.card-select__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 40px;
  letter-spacing: 0.05em;
  min-width: 120px;
}

.card-select__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
}

.card-select__btn {
  padding: 6px 44px;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  color: #717171;
}

.card-select.open {
  display: block;
}

.hidden {
  display: none;
}

.footer__content {
  height: 132px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  font-size: 20px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-right: 15px;
}

.footer__link {
  font-size: 20px;
  line-height: 50px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  margin-right: 5px;
}

.popup {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  z-index: 5;
  visibility: hidden;
}

.popap__area {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  cursor: pointer;
}

.popup.open {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
  pointer-events: all;
}

.popup__content {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  padding: 30px 20px;
  position: relative;
  z-index: 5;
}

.popup__content_image {
  padding: 0;
}

.popup__image img {
  max-width: 100%;
  vertical-align: top;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.popup__title {
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}

.popup__close {
  cursor: pointer;
  background-color: transparent;
  border: unset;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: -webkit-filter 0.5s ease-in-out;
  transition: -webkit-filter 0.5s ease-in-out;
  -o-transition: filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.popup__card {
  width: 267px;
  height: 391px;
  background: #f1f3f2;
  border-radius: 20px;
  padding-bottom: 20px;
}

.popup__card .testimonials__card {
  padding-bottom: 26px;
}

@media (max-width: 1600px) {
  [class*=__container] {
    max-width: 1282px;
    padding: 0 30px;
  }
}

@media (max-width: 1200px) {
  [class*=__container] {
    max-width: 698px;
    padding: 0 15px;
  }

  .header__container {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .header__logo {
    margin-top: 18px;
  }

  .welcome {
    padding-bottom: 95px;
  }

  .welcome__img {
    display: none;
  }

  .welcome__description {
    margin: 40px 0 0 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 clamp(340px, 42.969vw, 358px);
            flex: 0 0 clamp(340px, 42.969vw, 358px);
  }

  .welcome__title {
    font-size: clamp(25px, 4.557vw, 35px);
    line-height: clamp(35px, 6.51vw, 50px);
    margin-bottom: clamp(22px, 4.427vw, 34px);
    padding-left: 2px;
  }

  .welcome__text {
    font-size: 16px;
    line-height: 25px;
    padding: 0 10px 0 7px;
    margin-bottom: clamp(28px, 4.688vw, 36px);
  }

  .about {
    padding-bottom: 63px;
  }

  .about__container {
    padding-top: 40px;
  }

  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__description {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 668px;
            flex: 0 0 668px;
    max-height: clamp(303px, 50.781vw, 390px);
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__title {
    font-family: "Inika", serif;
    font-size: clamp(25px, 4.557vw, 35px);
    line-height: clamp(33px, 5.99vw, 46px);
    max-width: 500px;
    color: #499a18;
    margin-bottom: clamp(13px, 6.51vw, 50px);
    text-align: center;
  }

  .about__title span {
    color: #e06733;
  }

  .about__text {
    font-size: clamp(15px, 2.604vw, 20px);
    line-height: clamp(25px, 3.906vw, 30px);
    color: #b1aead;
  }

  .about__img {
    width: clamp(150px, 32.552vw, 250px);
    height: clamp(147px, 33.594vw, 258px);
  }

  .service {
    padding-bottom: 70px;
  }

  .service__head {
    padding-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 45px;
  }

  .service__title {
    font-size: clamp(25px, 4.557vw, 35px);
    line-height: clamp(33px, 5.99vw, 46px);
    margin-bottom: 40px;
  }

  .service__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 281px 281px;
    grid-template-columns: 281px 281px;
    -webkit-column-gap: 106px;
       -moz-column-gap: 106px;
            column-gap: 106px;
    row-gap: 38px;
  }

  .service__btn {
    font-size: clamp(15px, 2.604vw, 20px);
    line-height: clamp(20px, 3.385vw, 26px);
    width: clamp(121px, 20.964vw, 161px);
    height: clamp(35px, 6.51vw, 50px);
  }

  .service .card__img {
    width: 280px;
    height: 350px;
  }

  .service .card__img img {
    width: 100%;
  }

  .service .card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #e06733;
    margin-bottom: 15px;
  }

  .service .card__description {
    max-width: 213px;
    text-align: start;
    padding-left: 5px;
  }

  .prices {
    padding-bottom: 67px;
  }

  .prices__title {
    margin: 5px 0 60px 15px;
    font-size: clamp(25px, 4.557vw, 35px);
    line-height: clamp(30px, 5.469vw, 42px);
  }

  .prices__text {
    font-size: clamp(20px, 3.255vw, 25px);
    line-height: clamp(35px, 4.557vw, 50px);
    margin-bottom: 28px;
    text-align: center;
    max-width: 296px;
  }

  .prices__btn {
    padding: 11px 28px;
    margin-bottom: 45px;
  }

  .prices__img {
    width: 156px;
    height: 180px;
    margin: 0 70px 0 0;
  }

  .prices__description {
    margin-left: auto;
    margin-top: 108px;
  }

  .contacts__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 40px;
    height: 740px;
  }

  .contacts__container {
    max-width: 100%;
  }

  .contacts__select-wrapper {
    width: clamp(300px, 58.594vw, 450px);
    margin: 0 auto;
  }

  .contacts__title {
    font-family: "Inika", serif;
    font-weight: 700;
    font-size: clamp(25px, 5.208vw, 40px);
    line-height: clamp(35px, 6.771vw, 52px);
    line-height: 33px;
    color: #499a18;
    margin: 0 0 100px 0;
  }

  .contacts__img {
    margin-top: auto;
    margin-right: -18px;
    width: 200px;
    height: 249px;
  }

  .card-select {
    margin: 50px auto 0;
  }

  .footer__content {
    height: 181px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer__copyright {
    font-size: 20px;
    line-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    margin: 15px 10px 2px 0;
  }

  .footer__link {
    line-height: 24px;
    margin-right: 4px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1200px) and (max-width: 767px) {
  .service {
    padding-bottom: 25px;
  }

  .service__head {
    padding-top: 29px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }

  .service__title {
    font-family: "Inika", serif;
    font-size: clamp(25px, 6.579vw, 35px);
    line-height: clamp(33px, 8.684vw, 46px);
    max-width: 200px;
    margin-bottom: 39px;
  }

  .service__body {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 280px;
    grid-template-columns: 280px;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 34px;
  }

  .service__btn-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    row-gap: 9px;
    margin: 0;
  }

  .service__btn {
    font-size: clamp(15px, 3.947vw, 20px);
    line-height: clamp(20px, 5.263vw, 26px);
    width: clamp(121px, 31.842vw, 161px);
    height: clamp(35px, 9.211vw, 50px);
  }
}

@media (max-width: 767px) {
  [class*=__container] {
    max-width: 350px;
    min-width: 320px;
    padding: 0 10px;
  }

  .header__container {
    padding-top: 42px;
    padding-bottom: 16px;
  }

  .header__logo {
    margin: 6px 0 0 20px;
  }

  .burger-wrapper {
    width: 40px;
    height: 40px;
  }

  .burger {
    display: block;
    position: absolute;
    right: 15px;
    top: 34px;
    width: 40px;
    height: 40px;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    outline: 0;
    z-index: 10;
    margin: 10px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .burger span {
    position: absolute;
    left: 50%;
    width: 40px;
    height: 2px;
    background-color: #717171;
  }

  .burger span:nth-child(1) {
    top: 0;
    -webkit-transform: translateX(-50%) translateY(0) rotate(180deg);
        -ms-transform: translateX(-50%) translateY(0) rotate(180deg);
            transform: translateX(-50%) translateY(0) rotate(180deg);
    -webkit-transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    -o-transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  }

  .burger span:nth-child(2) {
    top: 9px;
    opacity: 1;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .burger span:nth-child(3) {
    top: 18px;
    opacity: 1;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .burger span:last-child {
    top: 27px;
    -webkit-transform: translateX(-50%) translateY(0) rotate(-180deg);
        -ms-transform: translateX(-50%) translateY(0) rotate(-180deg);
            transform: translateX(-50%) translateY(0) rotate(-180deg);
    -webkit-transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    -o-transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  }

  .burger.open {
    top: 28px;
  }

  .burger.open span:nth-child(1) {
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(0) rotate(45deg);
        -ms-transform: translateX(-50%) translateY(0) rotate(45deg);
            transform: translateX(-50%) translateY(0) rotate(45deg);
    -webkit-transition: top 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    transition: top 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    -o-transition: top 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    transition: top 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    transition: top 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s, -webkit-transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
  }

  .burger.open span:nth-child(2) {
    opacity: 0;
  }

  .burger.open span:nth-child(3) {
    opacity: 0;
  }

  .burger.open span:last-child {
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(0) rotate(-45deg);
        -ms-transform: translateX(-50%) translateY(0) rotate(-45deg);
            transform: translateX(-50%) translateY(0) rotate(-45deg);
    -webkit-transition: bottom 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    transition: bottom 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    -o-transition: bottom 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    transition: bottom 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    transition: bottom 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s, -webkit-transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
  }

  .menu__blur {
    display: block;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    padding: 20px;
    background: #ffffff;
  }

  .menu__item {
    line-height: 30px;
  }

  .menu__link {
    padding: 10px;
  }

  .header__menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    height: 100%;
    margin: 0;
  }

  .header__menu.open {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: background-color 2s ease-in-out 0.5s, -webkit-transform 0.5s ease-in-out;
    transition: background-color 2s ease-in-out 0.5s, -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out, background-color 2s ease-in-out 0.5s;
    transition: transform 0.5s ease-in-out, background-color 2s ease-in-out 0.5s;
    transition: transform 0.5s ease-in-out, background-color 2s ease-in-out 0.5s, -webkit-transform 0.5s ease-in-out;
  }

  .header__menu.open .menu__blur {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: background-color 2s ease-in-out 0.5s, -webkit-transform 0.5s ease-in-out;
    transition: background-color 2s ease-in-out 0.5s, -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out, background-color 2s ease-in-out 0.5s;
    transition: transform 0.5s ease-in-out, background-color 2s ease-in-out 0.5s;
    transition: transform 0.5s ease-in-out, background-color 2s ease-in-out 0.5s, -webkit-transform 0.5s ease-in-out;
  }

  .welcome {
    padding-bottom: 30px;
  }

  .welcome__description {
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 clamp(330px, 46.615vw, 358px);
            flex: 0 0 clamp(330px, 46.615vw, 358px);
  }

  .welcome__title {
    font-size: clamp(25px, 6.579vw, 35px);
    line-height: clamp(35px, 9.211vw, 50px);
    margin-bottom: clamp(22px, 5.789vw, 34px);
    padding-left: 0;
  }

  .welcome__text {
    font-size: 16px;
    line-height: 25px;
    padding: 0 10px 0 0;
    margin-bottom: clamp(28px, 7.368vw, 36px);
  }

  .welcome__btn {
    padding: 6px 13px;
    font-size: 14px;
  }

  .about {
    padding-bottom: 40px;
  }

  .about__container {
    padding-top: 30px;
    max-width: clamp(350px, 92.105vw, 698px);
  }

  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__description {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 668px;
            flex: 0 0 668px;
    max-height: clamp(303px, 79.737vw, 390px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__title {
    font-family: "Inika", serif;
    font-size: clamp(25px, 6.579vw, 35px);
    line-height: clamp(33px, 8.684vw, 46px);
    max-width: 500px;
    color: #499a18;
    margin-bottom: clamp(13px, 3.421vw, 50px);
    text-align: center;
  }

  .about__title span {
    color: #e06733;
  }

  .about__text {
    font-size: clamp(15px, 3.947vw, 20px);
    line-height: clamp(25px, 6.579vw, 30px);
    color: #b1aead;
  }

  .about__img {
    width: clamp(150px, 39.474vw, 250px);
    height: clamp(147px, 38.684vw, 258px);
  }

  .prices {
    padding-bottom: 42px;
  }

  .prices__content {
    padding-top: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .prices__title {
    margin: 0 0 40px 0;
    font-size: clamp(25px, 6.579vw, 35px);
    line-height: clamp(30px, 7.895vw, 42px);
  }

  .prices__text {
    font-size: clamp(20px, 5.263vw, 25px);
    line-height: clamp(35px, 9.211vw, 50px);
    margin-bottom: 20px;
  }

  .prices__img {
    display: none;
  }

  .prices__description {
    margin: 15px 0 0 0;
    max-width: 230px;
  }

  .prices__btn {
    padding: 7px 20px;
    margin-bottom: 45px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 20px;
  }

  .tariffs {
    gap: 14px;
  }

  .tariffs__price {
    padding: 16px 40px 16px 30px;
  }

  .contacts__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 24px;
    padding-right: 4px;
    height: 445px;
  }

  .contacts__select-wrapper {
    width: clamp(300px, 78.947vw, 450px);
    margin: 0 auto;
  }

  .contacts__title {
    font-family: "Inika", serif;
    font-weight: 700;
    font-size: clamp(25px, 6.579vw, 40px);
    line-height: clamp(35px, 9.211vw, 52px);
    color: #499a18;
    margin: 0 0 84px 0;
  }

  .contacts__img {
    margin: 0;
    margin-top: auto;
    width: 100px;
    height: 124px;
  }

  .card-select {
    width: 100%;
    margin-top: 20px;
  }

  .card-select__right,
  .card-select__left {
    min-width: auto;
  }

  .card-select__right span,
  .card-select__left span {
    line-height: 20px;
  }

  .footer__content {
    height: 146px;
  }

  .footer__copyright {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    margin: 10px 8px 2px 0;
  }

  .footer__link {
    margin-right: 0;
    margin-bottom: 15px;
  }
}