.footer {
  &__content {
    height: 130px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__copyright {
    font-size: 20px;
    line-height: 50px;
    display: flex;
    gap: 20px;
    margin-right: 20px;
    color: #000000;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $orange;
    }
    &:active {
      color: $green;
    }
  }
  &__link {
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $orange;
    }
    &:active {
      color: $green;
    }
  }
  &__social {
    display: flex;
    justify-content: space-between;
    width: 186px;
  }
  @media (max-width: $tablet) {
    &__content {
      height: 181px;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &__copyright {
      margin: 18px 0px 4px 0;
    }
    &__link {
      line-height: 24px;
      margin-right: 4px;
      margin-bottom: 28px;
    }
  }
  @media (max-width: $mobile) {
    &__content {
      height: 146px;
    }
    &__copyright {
      column-gap: 20px;
      margin: 9px 0px 2px 0;
    }
    &__link {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}

.social__link {
  padding: 10px;
  margin: -10px;

  svg path {
    transition: all 0.3s ease-in-out;
  }
  &:hover svg path {
    fill: $orange;
  }
  &:active svg path {
    fill: $green;
  }
}
