.header {
  background-color: $bg;
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__content {
    display: flex;
    height: 50px;
    font-family: "Inika", serif;
  }
  &__logo {
    margin: 5px 0 0 21px;
  }
  &__menu {
    margin: 0 8px 0 auto;
  }
  @media (max-width: $tablet) {
    &__container {
      padding-top: 35px;
      padding-bottom: 35px;
    }
    &__logo {
      margin-top: 18px;
    }
  }
  @media (max-width: $mobile) {
    &__container {
      padding-top: 42px;
      padding-bottom: 16px;
    }
    &__logo {
      margin: 6px 0 0 20px;
    }
  }
}

.logo {
  position: relative;
  color: $black;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $green;
  }

  &::before {
    content: "";
    position: absolute;
    background: no-repeat url(../images/icons/logo.svg);
    left: -23px;
    top: -3px;
    width: 100%;
    height: 100%;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 48px;
  }
  &__item {
    line-height: 50px;
  }
  &__link {
    color: $black;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $orange;
    }
    &:active {
      color: $green;
    }
  }
  &__link_active {
    color: $orange;
    font-weight: 700;
    pointer-events: none;
  }
}

// Burger

.burger {
  display: none;
}

@media (max-width: $mobile) {
  .burger-wrapper {
    width: 40px;
    height: 40px;
  }
  .burger {
    display: block;
    position: absolute;
    right: 15px;
    top: 34px;
    width: 40px;
    height: 40px;
    background: none;
    box-shadow: none;
    border: none;
    outline: 0;
    z-index: 10;
    margin: 10px;
    transition: all 0.3s ease;

    span {
      position: absolute;
      left: 50%;
      width: 40px;
      height: 2px;
      background-color: $grayDark;

      &:nth-child(1) {
        top: 0;
        transform: translateX(-50%) translateY(0) rotate(180deg);
        transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s,
          transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
      }
      &:nth-child(2) {
        top: 9px;
        opacity: 1;
        transform: translateX(-50%);
      }
      &:nth-child(3) {
        top: 18px;
        opacity: 1;
        transform: translateX(-50%);
      }
      &:last-child {
        top: 27px;
        transform: translateX(-50%) translateY(0) rotate(-180deg);
        transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s,
          transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
      }
    }
    &.open {
      top: 28px;
      span {
        &:nth-child(1) {
          top: 50%;
          transform: translateX(-50%) translateY(0) rotate(45deg);
          transition: top 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87),
            transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          opacity: 0;
        }
        &:last-child {
          top: 50%;
          transform: translateX(-50%) translateY(0) rotate(-45deg);
          transition: bottom 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87),
            transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
        }
      }
    }
  }

  .menu {
    &__blur {
      display: block;
      transform: translateY(-100%);
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 20px;
      background: $white;
    }
    &__item {
      line-height: 30px;
    }
    &__link {
      padding: 10px;
    }
  }
  .header__menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    height: 100%;
    margin: 0;

    &.open {
      transform: translateY(0);
      background-color: rgba(0, 0, 0, 0.3);
      transition: transform 0.5s ease-in-out,
        background-color 2s ease-in-out 0.5s;
      .menu__blur {
        transform: translateY(0);
        background-color: rgba(0, 0, 0, 0.3);
        transition: transform 0.5s ease-in-out,
          background-color 2s ease-in-out 0.5s;
      }
    }
  }
}
