@use "sass:math";

@import "config/fonts";
@import "config/vars";
@import "config/scrollbar";
@import "config/global";
@import "config/reset";
@import "config/select";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "config/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@300;400;700&family=Roboto&display=swap");
// Подключить если есть локальные файлы шрифтов
// @import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
// @import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================

$fontFamily: "Inter", sans-serif;
$fontSize: 16px; // где 16(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #333b41; // Цвет шрифта по умолчанию

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 380;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1222px;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 60px;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: 1600px;
// ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 1200px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767px; // Телефоны L
$mobileSmall: 480px; // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 2;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
  font-weight: 400;
  font-style: normal;
  font-size: $fontSize;
  min-width: $minWidth;
  font-family: $fontFamily;
  // Скролл заблокирован
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // Сайт загружен
  // .loaded & {
  // }
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================

.wrapper {
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }

  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
  // Отзывчивая
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: $maxWidthContainer;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 clamp($containerPadding, 5vw, 10px);
    }
  }
} @else {
  // По брейк-поинтам
  [class*="__container"] {
    @media (max-width: $pc) {
      max-width: $containerWidth;
      padding: 0 calc($containerPadding / 2);
    }
    @media (max-width: $tablet) {
      max-width: 698px;
      padding: 0 15px;
    }
    @media (max-width: $mobile) {
      min-width: 320px;
      padding: 0 25px;
    }
  }
}

@import "layout/header";
@import "layout/home";
@import "layout/footer";
@import "config/popup";
